$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.formGroup {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
  }
.formField {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  color: var(--font-color);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    cursor: text;
    top: 20px;
  }
}

.formLabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  color: $gray;
}

.formField:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--secondary-color),var(--tertiary-color));
  border-image-slice: 1;
}
/* reset input */
.forField{
  &:required,&:invalid { box-shadow:none; }
}

.rad-label {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 12px;
  padding: 14px 16px;
  margin: 10px 0;

  cursor: pointer;
  transition: .3s;
  &:hover,
  &:focus-within {
    background: hsla(0, 0%, 80%, .14);
  }
  @media only screen and (min-width: 640px) {
    flex-direction: row;
  }
}



.rad-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 22px;
  height: 22px;
  border-radius: 100px;

  background: linear-gradient(to right bottom, var(--secondary-color),var(--tertiary-color));
  position: relative;
}

.rad-design::before {
  content: '';

  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: .3s;
}

.rad-input:checked+.rad-design::before {
  transform: scale(0);
}

.rad-text {
  color: var(--font-color);
  margin-left: 14px;
  text-transform: uppercase;
  font-weight: 900;

  transition: .3s;
}

.rad-input:checked~.rad-text {
  color: var(--font-color);
}