.line-chart-container {
    position: relative;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.tooltip {
    position: absolute;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.d3-line-chart {
    flex: 1;
    height: 100%;
}